binaries
**/__pycache__
.vs/
.vscode/
lookandfeel/
fix_resolve_data
image_pyramids
redesign_group_action
serialize_action_linkages
progress_management
basic
VIS_2023
rel_0_9/
imaging_test/
fix_data_removal_and_hierarchy/
TestingCrossSpecies/
allmain - Copy
Jupyter
sentry
toaster
theming
allmaintheming
fixscatterplot
samplescope
scatterplot_rhi
addscriptingmanager
basic
app_features
core_latest
DualDevelop
GeneSurferRelease2
renderer_upgrade
samplescope
fix_space_walker
*/build
*/install
*/source

